BasedOnStyle: Webkit
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
AlignAfterOpenBracket: AlwaysBreak
IndentCaseLabels: true
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
